  /* Reset*/

  *{
    margin: 0;
    padding:0;
}

    a{text-decoration: none;
    color: black;}

/*codigo*/

header,nav,main,footer{
    width: 80%;
    margin: 0 auto;
}

header {width: 80%;

        min-height: 8rem;
        background-color: pink;

}

nav{
    width: 80%;
    min-height: 7rem;
    background-color: blue;
}
main{
    width: 80%;
    min-height: 20rem;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer{
    width: 80%;
    min-height: 7rem;
    background-color: chartreuse;
}
.ponerBorde{
    border: 0.3rem solid black;
}
main div{
    width: 30%; 
    min-height: 50rem;
    background-color: lightgray;
    color: aliceblue;
}
.izd{
    background-color: red;
    border: 0.2rem solid green;

}
.dere{
    background-color: black;
    border: 0.2rem solid green;
}
.centro{
    background-color: blue;
    border: 0.2rem solid green;
}
.segunda-izda{
    background-color: gray;
    border: 0.2rem solid green;
}

main div a{
    font-size: 1rem;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    

}
ul li{
    width: 8rem;
    height: 3.5rem;
    border: 0.1rem solid green;
    margin: 0.5rem;
    background: orange;
    border-radius: 0.4rem;
}

ul{
    list-style: none;
    margin-right: 0;
}

ul{ border: 0.2rem solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* lo il estan centarados por referencia al ul*/
    
}
ul li a{
    display: block;
    text-align: center;
    padding: 0.8rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
}

ul li a:hover {  
    background-color: rgb(214, 201, 227);
                 color: rgb(70, 127, 74);
                 transition: 500ms;
}
